@model SelfPay.Common.ViewModels.OrderViewModel

@{
    var pageName = "Detalhes do serviço";
    ViewData["Title"] = pageName;
}

<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@pageName</h4>
                </div>
                <div class="card-body">
                    <p><strong>@Html.DisplayNameFor(model => model.Name):</strong> @Model.Name</p>
                    <p><strong>@Html.DisplayNameFor(model => model.Description):</strong> @Model.Description</p>
                    <p><strong>@Html.DisplayNameFor(model => model.Price):</strong> @Model.Price</p>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex">
                        <form asp-action="Create" method="post" class="me-2">
                            @Html.HiddenFor(model => model.ClientId)
                            @Html.HiddenFor(model => model.Name)
                            @Html.HiddenFor(model => model.Description)
                            @Html.HiddenFor(model => model.Price)
                            <button type="submit" class="btn btn-primary">Pix</button>
                        </form>
                        <form asp-action="Create" method="post">
                            @Html.HiddenFor(model => model.ClientId)
                            @Html.HiddenFor(model => model.Name)
                            @Html.HiddenFor(model => model.Description)
                            @Html.HiddenFor(model => model.Price)
                            <button type="submit" class="btn btn-primary">Cartão</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
