@model IEnumerable<SelfPay.Common.Models.Service>

@{
    var pageName = "Listagem de serviços";
    ViewData["Title"] = pageName;
}

<div class="container-xl">
    <div class="row row-cards">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="img-responsive img-responsive-21x9 card-img-top" style="background-image: url(/assets/img/services/@item.ImageUrl)" onerror="ImgError(this)"></div>
                    <div class="card-body">
                        <h3 class="card-title">@item.Name</h3>
                        <p class="text-secondary">
                            @item.Description
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group">
                            <a href="@Url.Action("Create", "Order", new { id = item.Id, price = item.Price15 })" class="btn btn-primary">15 min</a>
                            <a href="@Url.Action("Create", "Order", new { id = item.Id, price = item.Price20 })" class="btn btn-primary">20 min</a>
                            <a href="@Url.Action("Create", "Order", new { id = item.Id, price = item.Price30 })" class="btn btn-primary">30 min</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

